/**
 * Table of Contents
 *
 *  1.0 - Colors
 *  2.0 - Fonts
 *  3.0 - Transitions
 *  4.0 - Elements

 * ----------------------------------------------------------------------------
 */



/**
 * 1.0 Colors
 * ----------------------------------------------------------------------------
 */

 $primaryColor: #0597e3;

 $secondaryColor: #0597e3;

 $altColor1: #fbb03d;

 $altColor2: #10167f;

 $linkColor: $primaryColor;

 $linkHoverColor: $secondaryColor;

 $buttonBorder: #000;

 $buttonHoverBorder: #000;

 $darkestGrey: #333333;

 $darkGrey: #363636;

 $grey: #d8d8d8;

 $lightGrey: #e2e2e2;

 $green: #70ac37;

 $red: #fe230a;

 $rgbaBlack: rgba(0,0,0,0.4);

 $rgbaPrimary: rgba(90,33,73,0.7);

 $black: #222;

 $white: #fff;



/**
 * 2.0 Fonts
 * ----------------------------------------------------------------------------
 */

 $primaryFont: "proxima-nova",sans-serif;

 $secondaryFont: "museo-slab", serif;

 $bodyFont: 'Open Sans', sans-serif;

 $MuseoSlab: "museo-slab", serif;


 /**
 * 3.0 Transitions
 * ----------------------------------------------------------------------------
 */

 $transitionTime : .3s all;

/**
 * 4.0 Elements
 * ----------------------------------------------------------------------------
 */
 $menu-icon-color: $black;

 $borderRadius : 3px;

 $off-canvas-width: 90%;

/**
 * 5.0 Media Queries
 * ----------------------------------------------------------------------------
 */

  $small-range: (0em, 40em); /* 0, 640px */
  $medium-range: (40.063em, 64em); /* 641px, 1024px */
  $large-range: (64.063em, 90em); /* 1025px, 1440px */
  $xlarge-range: (90.063em, 120em); /* 1441px, 1920px */
  $xxlarge-range: (120.063em); /* 1921px */

