/**
 * Accessibility styles
 * ----------------------------------------------------------------------------
**/

#skip {
	width: 0px;
	height: 0px;
	position: absolute;
	left: -10000px;
	overflow: hidden;
}