.image-button {
  position: relative;
  flex-basis: 350px;
  flex-grow: 1;
  margin: 0 1em 2em;


  .title {
    padding: 0.75em 0.8em 0.75em 0.75em;
    position: absolute;
    color: #fff;
  }

  .image {
    background-size: cover!important;
    height: 300px;
  }

  .button {
    border-radius: 0;
    width: 100%;
    font-size: 1.1em;
  }
}

.image-buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 764px;
  margin: 0 auto;

  @media(max-width: 763px) {
    max-width: 100%;
    width: calc(350px + 2em);
  }
}
