@import 'base/colors';
@import 'components/toolbar';

.color-select {
  padding: 5px;
  margin-bottom: 5px;
  text-align: center;
  color: #fff;

  &.is-light {
    color: #000;
  }

  &:hover {
    cursor: pointer;
  }
}
