////////////////////////////////////////////////////////////////////////////////
// This is the Sass file that allows you to build a custom login-styled page that
// matches your brand/site colors. These are some starter styles, so feel free to
// add/remove whatever suits your project needs. Errors? Pull requests are welcome!
// https://github.com/ZeekInteractive/bowtie/issues
////////////////////////////////////////////////////////////////////////////////

// Page background color/image
body.login {
	background:  rgba(176, 213, 236, 1);
}

.login h1 a {
	background-image: url('../../img/logo.svg');
	background-size: contain;
	height: 75px;
	width: 250px;
}

// Login button styling
#wp-submit {
	background: rgba(73, 161, 223, 1);
	border: none;
	border-radius: 0;
	box-shadow: none;
	text-shadow: none;
	text-transform: uppercase;
	transition: all 300ms ease-in-out;

  &:hover {
    background: darken(rgba(73, 161, 223, 1), 10%);
    border: none;
    box-shadow: none;
  }
}

// Text styling for 'lost your password'
.login #nav a {
	color: rgba(18, 54, 111, 1);

  &:hover {
    color: rgba(18, 54, 111, 1);
  }
}

// Text styling for 'back to bowtie'
.login #backtoblog a {
	color: rgba(18, 54, 111, 1);

  &:hover {
    color: rgba(18, 54, 111, 1);
  }
}
